<main class="details-movie-main" fxLyout="column" fxLayoutAlign="start center">
    <div class="details-movie">
        <h2 class="details-movie-title">Titre du film</h2>
        <ul class="details-movie-genre" fxLayout="row" fxLayoutAlign="center center">
            <li class="details-movie-genre-item">Drame</li>
            <li class="details-movie-genre-item">Amour</li>
        </ul>
        <div class="details-movie-release-date">Date de sortie : 15/10/2015</div>
        <div class="details-movie-overview">Résumé du film: didjoijdoijfoidjf dsiur eihirstf dsihidhf siyfiduhiuere siuhdihfis siuhfsiuhyufiehiur içyçihrihçde siuhiuyiuer seiuhreihr hrh  hruhrhzehryi didjoijdoijfoidjf dsiur eihirstf dsihidhf siyfiduhiuere siuhdihfis siuhfsiuhyufiehiur içyçihrihçde siuhiuyiuer seiuhreihr hrh  hruhrhzehryi didjoijdoijfoidjf dsiur eihirstf dsihidhf siyfiduhiuere siuhdihfis siuhfsiuhyufiehiur içyçihrihçde siuhiuyiuer seiuhreihr hrh  hruhrhzehryi</div>
        <div class="details-movie-vote">Note télespectateur : <span class="details-movie-vote-average">7 / 10</span></div>
    </div>
</main>
