.home-main{
    height: 100vh;
    width: 100vw;
    background-image: url('../../assets/images/background_red.jpg');

    .home-title{
        text-align: center;
        font-size: 4rem;

        .home-logo{
            width: 70px;
        }
    }
    
    .home-intro{
        font-size: 1.5rem;
    }

    .mat-form-field{
        width: 350px;
        margin-top: 30px;

        .home-search-input{
            height: 50px;
        }
        
        .home-search-input::placeholder{
            color: black;
        }

    }
    
}

